name: publish
on:
  push:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Image tag (empty means infer from branch name or Git tag)'
        type: string
        default: ''
        required: false
      push_image:
        description: 'Push image to registry'
        type: boolean
        default: false
        required: true
jobs:
  publish-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        IMAGE_DIR: [ test-base, test-base-musl ]
    env:
      IMAGE_TAG: ${{
          case(
            github.event_name == 'push' && github.ref == 'refs/heads/main', 'latest',
            github.event_name == 'workflow_dispatch' && inputs.image_tag != '', inputs.image_tag,
            github.ref_name
          )
        }}
      PUSH_IMAGE: ${{
          (github.event_name == 'push' && github.ref == 'refs/heads/main') ||
          (github.event_name == 'workflow_dispatch' && inputs.push_image)
        }}
    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        platforms: 'arm64'
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GitHub Container Registry
      if: ${{ env.PUSH_IMAGE == 'true' }}
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Use lowercase repository owner
      run: |
        REPO_OWNER=${{ github.repository_owner }}
        echo "REPO_OWNER=${REPO_OWNER,,}" >>${GITHUB_ENV}
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: '{{ defaultContext }}:${{ matrix.IMAGE_DIR }}'
        no-cache: true
        platforms: linux/amd64,linux/arm64
        push: ${{ env.PUSH_IMAGE == 'true' }}
        tags: ghcr.io/${{ env.REPO_OWNER }}/${{ matrix.IMAGE_DIR }}:${{ env.IMAGE_TAG }}
